In [1]:
import os
import pandas as pd

In [3]:
BASE_DIR = os.path.join(os.path.abspath(''), '..')
print(BASE_DIR)

/Users/kalle/Documents/gammathon/data_pipeline/..

In [4]:
df = pd.read_csv(BASE_DIR + '//data/customer_data.csv')
print(df.head)

<bound method NDFrame.head of           customer_id       month  months_since_joined  referred_friends  \
0                   2  2017-02-01                   62                 1
1                   4  2017-02-01                   62                 1
2                   7  2017-02-01                   62                 1
3                  14  2017-02-01                   62                 0
4                  20  2017-02-01                   62                 0
...               ...         ...                  ...               ...
13131247      1423204  2020-10-01                    1                 0
13131248      1423205  2020-10-01                    1                 0
13131249      1423206  2020-10-01                    1                 2
13131250      1423207  2020-10-01                    1                 1
13131251      1423208  2020-10-01                    1                 2

          transaction_count  transaction_value           clv  \
0                      58.0         743.785020  24461.876134
1                      17.0         185.170485   6089.955209
2                      71.0          71.000000   2335.074193
3                      25.0         187.986119   6182.556815
4                      63.0         342.682994  11270.284723
...                     ...                ...           ...
13131247               26.0          72.892389    345.514806
13131248               19.0          52.500548    248.856114
13131249               19.0          55.659544    263.829967
13131250               22.0          63.473847    300.870287
13131251               22.0          65.412040    310.057450

          total_reward_points  earned_reward_points cluster  churned
0                41822.999177                2146.0       B    False
1                 9374.999673                 153.0       B    False
2                14302.040625                 213.0       B    False
3                 3200.996803                 225.0       C    False
4                31744.997234                1071.0       B    False
...                       ...                   ...     ...      ...
13131247            77.987312                  78.0       B     True
13131248            37.988428                  38.0       B    False
13131249            37.999962                  38.0       C    False
13131250            65.999949                  66.0       B    False
13131251            65.999415                  66.0       C    False

[13131252 rows x 11 columns]>

In [85]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

X_data = df.drop(['month', 'customer_id'], axis=1)

encoder = LabelEncoder()

for col in ['cluster', 'churned']:
    X_data[col] = encoder.fit_transform(X_data[col])


Y_data = df.churned

## Inference set
inf_set = df.loc[(df['month'] == '2020-10-01') & (df['churned'] == True)]

## Test/train
df_test_train = df.drop(df.loc[((df['month'] == '2017-02-01') & (df['churned'] == True)) | (df['month'] == '2020-10-01')].index)
#df_test_train = df_test_train.drop(df.loc[(df['month'] == '2020-10-01') & (df['churned'] == True)])

## Rubbish (will we even use this df????)
df_rubbish = df.loc[(df['month'] == '2017-02-01') & (df['churned'] == True)]

"""
X_train, X_test, y_train, y_test = train_test_split(X_data, Y_data, test_size=0.2, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42)
"""

'\nX_train, X_test, y_train, y_test = train_test_split(X_data, Y_data, test_size=0.2, random_state=42)\n\nX_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42)\n'

In [86]:
df_test_train_sorted = df_test_train.sort_values(by=['customer_id', 'month'])
df_test_train_sorted
df_test_train['churned_next_month'] = df_test_train_sorted.churned.shift(-1)

#from datetime import *; from dateutil.relativedelta import *
#import calendar
#df_test_train['churned_next_month'] = df_test_train.apply(lambda x: df_test_train.loc[(df_test_train['customer_id'] == x.customer_id) & (df_test_train['month'] == date.fromisoformat(x.month) + relativedelta(months=1))], axis=1)

In [87]:
df_test_train=df_test_train.sort_values(by=['customer_id', 'month'])
df_test_train[df_test_train['customer_id'] == 4]
#df_test_train.iloc[i]['churned_next_month'] = df_test_train_sorted.iloc[i+1]
#df_test_train['churned_next_month'] = df_test_train.churned.shift(1)

,customer_id,month,months_since_joined,referred_friends,transaction_count,transaction_value,clv,total_reward_points,earned_reward_points,cluster,churned,churned_next_month
1,4,2017-02-01,62,1,17.0,185.170485,6089.955209,9374.999673,153.0,B,False,False
235602,4,2017-03-01,63,1,17.0,188.542597,6208.745557,9527.999664,153.0,B,False,False
473929,4,2017-04-01,64,3,16.0,180.349792,5945.797853,9671.999654,144.0,B,False,False
714819,4,2017-05-01,65,1,16.0,183.075914,6041.972228,9815.999644,144.0,B,False,False
958245,4,2017-06-01,66,3,16.0,185.659736,6133.036626,9959.999634,144.0,B,False,False
1204150,4,2017-07-01,67,1,15.0,176.716465,5842.603970,10079.999624,120.0,B,False,False
1452545,4,2017-08-01,68,2,15.0,179.508022,5939.498942,10199.999614,120.0,B,False,False
1703485,4,2017-09-01,69,1,14.0,170.104142,5632.297101,10311.999604,112.0,B,False,False
1956854,4,2017-10-01,70,1,14.0,172.600651,5718.590500,10423.999593,112.0,B,False,False
2212648,4,2017-11-01,71,1,14.0,175.235068,5809.214199,10535.999583,112.0,B,False,False
2470911,4,2017-12-01,72,3,14.0,177.840711,5898.664633,10647.999572,112.0,B,False,False
2731456,4,2018-01-01,73,1,14.0,180.281041,5982.425624,10773.999561,126.0,B,False,False
2994606,4,2018-02-01,74,1,14.0,182.456953,6057.215184,10899.999551,126.0,B,False,False
3260118,4,2018-03-01,75,0,14.0,184.457216,6125.985938,11025.999540,126.0,B,False,False
3528319,4,2018-04-01,76,1,13.0,173.146562,5752.360219,11129.999528,104.0,B,False,False
3799154,4,2018-05-01,77,0,12.0,161.598246,5370.395806,11225.999517,96.0,B,False,False
4072622,4,2018-06-01,78,0,12.0,163.324369,5429.315105,11321.994322,96.0,B,False,False
4348830,4,2018-07-01,79,0,11.0,151.309245,5031.206256,11398.994311,77.0,B,False,False
4627771,4,2018-08-01,80,3,11.0,153.046298,5090.159551,11475.994299,77.0,B,False,False
4909131,4,2018-09-01,81,2,10.0,140.870116,4686.187603,11545.994288,70.0,B,False,False
5193160,4,2018-10-01,82,1,9.0,128.296044,4268.718660,11599.994276,54.0,B,False,False
5479955,4,2018-11-01,83,1,9.0,129.669659,4315.172691,11653.994265,54.0,B,False,False
5769436,4,2018-12-01,84,1,9.0,130.982840,4359.559176,11707.994253,54.0,B,False,False
6061446,4,2019-01-01,85,0,8.0,117.641363,3916.066802,11747.937321,40.0,B,False,False
6356177,4,2019-02-01,86,0,7.0,103.986758,3461.976134,11782.247096,35.0,B,False,False
6653525,4,2019-03-01,87,2,7.0,104.920061,3493.455639,11817.038286,35.0,B,False,False
6953468,4,2019-04-01,88,0,7.0,105.871408,3525.504193,11848.596719,35.0,B,False,False
7255796,4,2019-05-01,89,1,6.0,90.916959,3027.812230,11862.875092,24.0,B,False,False
7560796,4,2019-06-01,90,0,6.0,90.972133,3029.911641,11873.900073,24.0,B,False,False
7868538,4,2019-07-01,91,0,5.0,75.830377,2525.798946,11878.338555,15.0,B,False,False
8178712,4,2019-08-01,92,1,4.0,60.697078,2021.874019,11881.709485,12.0,B,False,False
8491300,4,2019-09-01,93,1,3.0,45.512258,1516.151181,11886.522268,6.0,B,False,False
8806371,4,2019-10-01,94,0,2.0,30.357734,1011.366709,11887.569549,2.0,B,False,False
9123740,4,2019-11-01,95,0,2.0,30.333222,1010.603089,11889.311882,2.0,B,False,False
9443765,4,2019-12-01,96,0,1.0,15.172698,505.528358,11889.114510,0.0,B,False,False
9766482,4,2020-01-01,97,0,0.0,0.000000,0.000000,11888.353251,0.0,B,False,False
10091713,4,2020-02-01,98,2,0.0,0.000000,0.000000,11887.096463,0.0,B,False,False
10419468,4,2020-03-01,99,3,0.0,0.000000,0.000000,11885.574140,0.0,B,False,False
10749754,4,2020-04-01,100,3,0.0,0.000000,0.000000,11881.534699,0.0,B,False,False
11082362,4,2020-05-01,101,3,0.0,0.000000,0.000000,11879.992542,0.0,B,False,False
11417427,4,2020-06-01,102,0,0.0,0.000000,0.000000,11877.924551,0.0,B,False,False
11755090,4,2020-07-01,103,0,0.0,0.000000,0.000000,11876.910269,0.0,B,False,True
12095357,4,2020-08-01,104,0,0.0,0.000000,0.000000,11876.512740,0.0,B,True,False

In [ ]:
for i, row in enumerate(df_test_train.index):
    if(df_test_train.iloc[i,0] != df_test_train.iloc[i+1,0]):
        df_test_train.drop(row, inplace=True)

In [ ]:
df_test_train.to_pickle("./test_train.pkl")
inf_set.to_pickle("./inf.pkl")

In [18]:
from sklearn.ensemble import RandomForestClassifier
n_estimators = [100, 300, 500]
max_depth = [10, 20, 30,]


parameters =  {'n_estimators': n_estimators,
               'max_depth': max_depth,
}

clf = RandomForestClassifier()
gs = GridSearchCV(clf, parameters)
gs.fit(X_train, y_train)

RandomForestClassifier()

In [19]:
print(clf.score(X_test, y_test))

1.0

In [24]:
month_one = df[df['month'] == '2017-02-01']
print(month_one[month_one['churned']== True])

        customer_id       month  months_since_joined  referred_friends  \
100             794  2017-02-01                   62                 2
161            1352  2017-02-01                   62                 1
229            1833  2017-02-01                   62                 0
419            3407  2017-02-01                   62                 0
426            3482  2017-02-01                   62                 2
...             ...         ...                  ...               ...
235547       734414  2017-02-01                    1                 1
235553       734420  2017-02-01                    1                 1
235557       734424  2017-02-01                    1                 1
235565       734432  2017-02-01                    1                 1
235589       734456  2017-02-01                    1                 0

        transaction_count  transaction_value           clv  \
100                  72.0         191.387087   6294.409119
161                  65.0          65.000000   2137.743979
229                  45.0         430.947939  14173.174788
419                  58.0         152.188559   5005.233464
426                  65.0         790.193733  25988.182986
...                   ...                ...           ...
235547               19.0          58.651908    278.013970
235553               17.0          43.658238    206.942971
235557               22.0          59.198315    280.603975
235565               30.0          78.968256    374.314823
235589               21.0          56.292258    266.829074

        total_reward_points  earned_reward_points cluster  churned
100            34087.106560                 648.0       C     True
161            14313.112404                 195.0       C     True
229            45032.987998                 945.0       C     True
419            15172.394796                 406.0       B     True
426            74635.618387                2535.0       B     True
...                     ...                   ...     ...      ...
235547            37.993374                  38.0       B     True
235553            33.965662                  34.0       A     True
235557            43.999729                  44.0       C     True
235565            89.999924                  90.0       B     True
235589            18.414218                  42.0       B     True

[11215 rows x 11 columns]

In [31]:
df['churned']

0           False
1           False
2           False
3           False
4           False
            ...
13131247     True
13131248    False
13131249    False
13131250    False
13131251    False
Name: churned, Length: 13131252, dtype: bool